
<!DOCTYPE html>
<html>
  <head>
    <title>Catfeeder ERB</title>

    <% if ENV["RACK_ENV"] === "production" %>
    <link href='css/vendor/bootstrap.min.css' rel='stylesheet'>
    <link href='css/vendor/font-awesome.min.css' rel='stylesheet'>
    <link href='css/style.css' rel='stylesheet'>
    <% else %>
    <link href='css/vendor/bootstrap.css' rel='stylesheet'>
    <link href='css/vendor/font-awesome.css' rel='stylesheet'>
    <link href='css/style.css' rel='stylesheet'>
    <% end %>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <% if ENV["RACK_ENV"] === "production" %>
      <script type="text/javascript" src="js/vendor/jquery.min.js"></script>
      <script type="text/javascript" src="js/vendor/bootstrap.min.js"></script>
      <script type="text/javascript" src="js/vendor/underscore-min.js"></script>
      <script type="text/javascript" src="js/vendor/moment.min.js"></script>
      <script type="text/javascript" src="js/vendor/handlebars.runtime.min.js"></script>
      <script type="text/javascript" src="js/vendor/ember.min.js"></script>
      <script type="text/javascript" src="js/vendor/ember-data.min.js"></script>

      <script type="text/javascript" src="js/cat_feeder.min.js"></script>
    <% else %>
      <script type="text/javascript" src="js/vendor/jquery.js"></script>
      <script type="text/javascript" src="js/vendor/bootstrap.js"></script>
      <script type="text/javascript" src="js/vendor/underscore.js"></script>
      <script type="text/javascript" src="js/vendor/moment.js"></script>
      <script type="text/javascript" src="js/vendor/handlebars.runtime.js"></script>
      <script type="text/javascript" src="js/vendor/ember.js"></script>
      <script type="text/javascript" src="js/vendor/ember-data.js"></script>

      <%# Todo have non-minified version of this %>
      <script type="text/javascript" src="js/cat_feeder.min.js"></script>
    <% end %>

  </body>
</html>
